<nav id="nav" class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">云停车推送系统运营管理后台</a>
    </div>
    <ul class="nav navbar-top-links navbar-right">
        <li>
            <a href="#/message"> <i class="fa fa-sign-out fa-fw" ></i> 登出 </a>

        </li>
    </ul>

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                </li>
                <li>
                    <a href="#/message"><i class="fa fa-envelope fa-fw"></i> 推送消息管理</a>
                </li>
                <li>
                    <a href="#/message"><i class="fa fa-random fa-fw"></i> 推送方式管理</a>
                </li>
                <li>
                    <a href="#/message"><i class="fa fa-table fa-fw"></i> 推送策略管理</a>
                </li>
                <li>
                    <a href="#/message"><i class="fa fa-edit fa-fw"></i> 消息类型管理</a>
                </li>
               
            </ul>
        </div>
    </div>
</nav>